<?xml version="1.0" encoding="utf-8"?>
<RDBSConfigInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <RDBSConnectString>Data Source=.;User ID=sa;Password=123456;Initial Catalog=brnshop;Pooling=true</RDBSConnectString>
  <RDBSTablePre>bsp_</RDBSTablePre>
</RDBSConfigInfo>