<?xml version="1.0"?>
<ShopConfigInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <ShopName>BrnShop开源网上商城</ShopName>
  <SiteUrl>www.brnshop.com</SiteUrl>
  <SiteTitle>BrnShop开源网上商城</SiteTitle>
  <SEOKeyword />
  <SEODescription />
  <ICP>冀ICP22222</ICP>
  <Script />
  <IsLicensed>1</IsLicensed>
  <PCTheme>default</PCTheme>
  <MobileTheme>default</MobileTheme>
  <WeChatTheme>default</WeChatTheme>
  <AppTheme>default</AppTheme>
  <RegType>123</RegType>
  <ReservedName>admin</ReservedName>
  <IsWebcomeMsg>1</IsWebcomeMsg>
  <WebcomeMsg>热烈欢迎</WebcomeMsg>
  <RegTimeSpan>0</RegTimeSpan>
  <LoginType>123</LoginType>
  <ShadowName>myname</ShadowName>
  <IsRemember>1</IsRemember>
  <LoginFailTimes>0</LoginFailTimes>
  <ImageCDN />
  <CSSCDN />
  <ScriptCDN />
  <OnlineUserExpire>8</OnlineUserExpire>
  <MaxOnlineCount>10000</MaxOnlineCount>
  <OnlineCountExpire>0</OnlineCountExpire>
  <UpdateOnlineTimeSpan>2</UpdateOnlineTimeSpan>
  <UpdatePVStatTimespan>3</UpdatePVStatTimespan>
  <IsStatBrowser>1</IsStatBrowser>
  <IsStatOS>1</IsStatOS>
  <IsStatRegion>1</IsStatRegion>
  <IsClosed>0</IsClosed>
  <CloseReason />
  <BanAccessTime />
  <BanAccessIP />
  <AllowAccessIP />
  <AdminAllowAccessIP />
  <SecretKey>12345678</SecretKey>
  <CookieDomain />
  <RandomLibrary>123456789abcdefghjkmnpqrstuvwxy</RandomLibrary>
  <VerifyPages>/account/login,/account/register,/account/findpwd</VerifyPages>
  <IgnoreWords />
  <AllowEmailProvider />
  <BanEmailProvider />
  <IsGuestSC>1</IsGuestSC>
  <SCSubmitType>0</SCSubmitType>
  <GuestSCCount>30</GuestSCCount>
  <MemberSCCount>50</MemberSCCount>
  <SCExpire>8</SCExpire>
  <OSNFormat>{addtime}{uid}{srid}</OSNFormat>
  <OnlinePayExpire>24</OnlinePayExpire>
  <ReceiveExpire>7</ReceiveExpire>
  <BroHisCount>8</BroHisCount>
  <MaxShipAddress>12</MaxShipAddress>
  <FavoriteCount>20</FavoriteCount>
</ShopConfigInfo>