body{line-height: 1.25em;}
.viewport{ max-width:1000px;}
a{ text-decoration:none;}

.storeS{ margin:0 auto; width:220px; position:relative; font-size:1em;}
.icon-search {position: absolute;top:15px;right:5px;display: block;width:15px;height:15px;background-image: url(/mobile/images/icon2.png);background-repeat: no-repeat;background-size: 100%;
}
.storeS input{padding:7px 25px 7px 10px;width:190px;border: none;font-size: 0.875rem;color: #333333;background: #fff7f7;-moz-border-radius:15px;-webkit-border-radius: 15px;border-radius:15px;}


.store-bt{position:absolute;top:10px;right:7px;width:37px;height:30px; }
.store-bt span{display:inline-block;width:21px;height:21px;margin:5px 0 0 8px;background:url(/mobile/images/icon3.png) no-repeat;text-indent:-9999px;background-size: 100%;}

.banner{ text-align:center;}


.storeNav{ height:48px; margin-bottom:10px;background: #ffffff;border-bottom:1px solid #c8c7cc; position:relative;}


.logo img{max-width: 100%;height: auto;-ms-interpolation-mode: bicubic;}

.logo{ text-align:center; width:50%; position:relative;top: -0.75rem;}
.logo a{margin: 0 auto;display: block;width: 90px;height: 30px;overflow: hidden;text-align: center;}
.name {width: 100%;color: #666666;padding-top: 0.313rem;font-size: 0.75rem;line-height: 0.813rem;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}


.storeFav{position:absolute; width:125px; height:15px; padding-top:15px; display:block; right:15px; top:10px;text-align: center;color: #999999; font-size:12px; text-decoration:none;}
.storeFav i{ position:absolute; left:50%; top:0; margin-left:-7.5px;width:17px;height:15px;background-image: url(/mobile/images/icon4.png);background-repeat: no-repeat;background-size: 100%;}
.storeFav.on i{background-image: url(/mobile/images/icon5.png);}

.storeI{margin-top:14px;background: #ffffff;border-top: 1px solid #c8c7cc;border-bottom: 1px solid #c8c7cc; padding:10px; position:relative;}

.storeI h2{ font-size:16px; font-weight:normal; padding:10px 0 15px 0; color:#4c4c4c;}


.yhjBox:last-child:after,.stroeList1:after,.storeList:after{ content:""; display:block; clear:both; height:1px; overflow:hidden;}

.yhj{ position:relative; display:block; color:#FFF; font-size:12px; float:left; margin-right:5px;}
.yhjBox a.more{ position:absolute; top:50%; right:10px; color:#333; text-decoration:none;}
.yhj p{ position:absolute; text-align:center; width:100%; top:20px; z-index:9;}
.yhj p span{ display:block; text-align:center;}

.yhj p span.other{ display:block; text-align:center; font-size:16px; font-weight:bold;color: #fff000;}


.yhjBox1{ padding:20px; margin:0 auto;}
.yhj .line{background:url(/mobile/images/yhj-line.png) repeat-y; height:100px; width:3px; position:absolute; left:-3px;}
.yhjBox1 .yhj{ background:url(/mobile/images/yhj-2.png) no-repeat left #4bb4de; display:block; height:100px; width:100%; margin-bottom:20px;}
.yhjBox1 .yhj p .other{ font-size:20px;}
.yhjBox1 .yhj .useBt{ position:absolute; right:-3px; top:0;background:url(/mobile/images/yhj-line1.png) repeat-y right; height:100px; line-height:100px; padding-right:20px; font-size:20px;}


.stroeList1 li{ float:left; width:25%; text-align:center;}
.storeList li{box-sizing:border-box;
-moz-box-sizing:border-box; /* Firefox */
-webkit-box-sizing:border-box; /* Safari */
width:50%;border:0.3em solid #FFF;float:left;}
.storeList li a{ display:block; border:1px solid #e4e4e4;}
.storeList li .img{background:#f1f1f1; display:block; text-align:center; height:auto;}
.storeList li img{display: inline-block;vertical-align: middle;max-width: 100%;height: auto;}
.p-info { padding:10px;color: #333333;font-size:12px; text-align:left;}

.price { padding:10px;font-size:14px;color: #e43743; text-align:left;}
.listMore{ display:block; text-align:right; padding:10px; color:#333;}

.allMore{display: block;color: #4c4c4c;font-size: 0.938rem;text-align: center;}
.allMore .icon-all {position: relative;top: 3.5px;display: inline-block;width: 17px;height: 17px;background-image: url(/mobile/images/icon9.png);background-repeat: no-repeat;background-size: 100%;}




.selectR{width:260px;height: 100%;right: 0px;top:0;z-index: 9999;overflow:auto;background-color:#f6f6f6;position:fixed;}
.selectR .name{color: #424242;font-size: 1.25rem;line-height: 1.5;text-align: center;}

.score {
padding-top: 0.375rem;
padding-bottom: 1.563rem;
color: #8c8c8c;
font-size: 0.75rem;
line-height: 1.5;
text-align: center;
}

.score i {
display: inline-block;
width: 0.625rem;
height: 0.5rem;
background-image: url(/mobile/images/icon11.png);
background-repeat: no-repeat;
background-size: 100%;
}
.score .icon-empty {
background-image: url(/mobile/images/icon10.png);
}



.selectR>ul{border-top:1px solid #c8c7cc;}
.selectR .dt{display:block;padding:8px 15px;border-bottom:1px solid #c8c7cc;background:url(/mobile/images/icon14.png) 95% center no-repeat; background-size:16px;font-size:17px;color:#4c4c4c;}
.selectR .dt.on{background:url(/mobile/images/icon29.png) 95% center no-repeat;background-size:16px;}
.selectR .info{ padding:20px 0;}


.selectR a{ color:#4c4c4c; text-decoration:none;}
.selectCon{ padding: 5px 10px 5px 3px;border-bottom: 1px solid #c8c7cc; display:none; background:#e6e6e6;}
.selectCon a{display: block;padding: 6px 0 6px 20px;color: #808080;}

.selectCon a{display:block;padding:6px 0 6px 20px;color:#808080}
.selectCon a span{padding-left:3px}


.score-list{position: relative;margin-left: 0.625rem;margin-right: 0.625rem;margin-bottom: 0.688rem;background: #ffffff;border-radius:5px;background:#FFF;border:1px solid #ddd;}
.score-list li{box-sizing:border-box;border:2px solid none;width:33.3%;float:left;}
.key{padding-top: 0.563rem;text-align: center;color: #424242;font-size: 0.75rem;line-height: 1.25;}
.value{padding-bottom: 0.25rem;color: #979797;font-size: 0.813rem;line-height: 1.625rem;text-align: center;}
.value .icon-up{position: relative;top: 0.281rem;display: inline-block;margin-right: 0.375rem;width: 1.063rem;height: 1.063rem;background-image: url(/mobile/images/icon13.png);background-repeat: no-repeat;background-size: 100%;}
.value .icon-up.down {background-image: url(/mobile/images/icon12.png);}

.divider{position: absolute;top: 0.625rem;left: 33.33%;width: 1px;height: 2.25rem;background: #dadada;}
.divider:last-child{left: 66.66%;}


.pagination {position: relative;height:20px;line-height:20px;text-align: center;}

.page-num {
position: relative;
display: inline-block;
padding-right:25px;
color: #999999;
}

.pagination .last,.pagination .next {
position: absolute;
top: 0;
left: 25px;
color: #999999;
}

.pagination .next {
left: auto;
right: 25px;
}


.storeSearch{padding-left: 0.625rem;
padding-right: 0.625rem;
background: #ffffff;
height: 2.25rem;
overflow: hidden;
text-align: center;
box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);}

.storeSearch div{ width:33.33333%; float:left;}

.storeSearch div a{height: 100%;
text-align: center;
line-height: 2.25rem;
color: #666666;
font-size: 0.875rem;}

.icon-volume,.icon-price,.icon-new {
position: relative;
top: 0.15rem;
display: inline-block;
width: 0.938rem;
height: 0.938rem;
background-image: url(/mobile/images/icon19.png);
background-repeat: no-repeat;
background-size: 100%;
}

.icon-volume.on{background-image: url(/mobile/images/icon18.png);}

.icon-price{background-image: url(/mobile/images/icon20.png);}
.icon-price.on{background-image: url(/mobile/images/icon21.png);}

.icon-new{background-image: url(/mobile/images/icon23.png);}
.icon-new.on{background-image: url(/mobile/images/icon24.png);}