<?xml version="1.0"?>
<EventConfigInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <BMAEventState>1</BMAEventState>
  <BMAEventPeriod>6</BMAEventPeriod>
  <BMAEventList>
    <EventInfo>
      <Key>order</Key>
      <Title>订单事件</Title>
      <TimeType>1</TimeType>
      <TimeValue>60</TimeValue>
      <ClassName>BrnMall.EventStrategy.Timer.OrderEvent,BrnMall.EventStrategy.Timer</ClassName>
      <Code />
      <Enabled>1</Enabled>
    </EventInfo>
    <EventInfo>
      <Key>cart</Key>
      <Title>购物车事件</Title>
      <TimeType>1</TimeType>
      <TimeValue>120</TimeValue>
      <ClassName>BrnMall.EventStrategy.Timer.CartEvent,BrnMall.EventStrategy.Timer</ClassName>
      <Code />
      <Enabled>1</Enabled>
    </EventInfo>
    <EventInfo>
      <Key>browsehistory</Key>
      <Title>浏览历史事件</Title>
      <TimeType>1</TimeType>
      <TimeValue>60</TimeValue>
      <ClassName>BrnMall.EventStrategy.Timer.BrowseHistoryEvent,BrnMall.EventStrategy.Timer</ClassName>
      <Code />
      <Enabled>1</Enabled>
    </EventInfo>
    <EventInfo>
      <Key>productreviewcount</Key>
      <Title>同步商品评价数量</Title>
      <TimeType>0</TimeType>
      <TimeValue>30</TimeValue>
      <ClassName>BrnMall.EventStrategy.Timer.ProductReviewCountEvent,BrnMall.EventStrategy.Timer</ClassName>
      <Code />
      <Enabled>1</Enabled>
    </EventInfo>
    <EventInfo>
      <Key>productsalecount</Key>
      <Title>同步商品销量</Title>
      <TimeType>0</TimeType>
      <TimeValue>90</TimeValue>
      <ClassName>BrnMall.EventStrategy.Timer.ProductSaleCountEvent,BrnMall.EventStrategy.Timer</ClassName>
      <Code />
      <Enabled>1</Enabled>
    </EventInfo>
    <EventInfo>
      <Key>productvisitcount</Key>
      <Title>同步商品的访问量</Title>
      <TimeType>0</TimeType>
      <TimeValue>120</TimeValue>
      <ClassName>BrnMall.EventStrategy.Timer.ProductVisitCountEvent,BrnMall.EventStrategy.Timer</ClassName>
      <Code />
      <Enabled>1</Enabled>
    </EventInfo>
    <EventInfo>
      <Key>updatestorereview</Key>
      <Title>计算店铺评价</Title>
      <TimeType>0</TimeType>
      <TimeValue>150</TimeValue>
      <ClassName>BrnMall.EventStrategy.Timer.StoreReviewEvent,BrnMall.EventStrategy.Timer</ClassName>
      <Code />
      <Enabled>1</Enabled>
    </EventInfo>
    <EventInfo>
      <Key>timeproduct</Key>
      <Title>定时商品事件</Title>
      <TimeType>1</TimeType>
      <TimeValue>120</TimeValue>
      <ClassName>BrnMall.EventStrategy.Timer.TimeProductEvent,BrnMall.EventStrategy.Timer</ClassName>
      <Code />
      <Enabled>1</Enabled>
    </EventInfo>
  </BMAEventList>
</EventConfigInfo>