<?xml version="1.0"?>
<MallConfigInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <MallName>BrnMall开源网上商城</MallName>
  <SiteUrl>127.0.0.1:1680</SiteUrl>
  <SiteTitle>BrnMall开源网上商城</SiteTitle>
  <SEOKeyword />
  <SEODescription />
  <ICP>冀ICP22222</ICP>
  <Script />
  <IsLicensed>1</IsLicensed>
  <RegType>123</RegType>
  <ReservedName>admin</ReservedName>
  <IsWebcomeMsg>1</IsWebcomeMsg>
  <WebcomeMsg>热烈欢迎</WebcomeMsg>
  <RegTimeSpan>0</RegTimeSpan>
  <LoginType>123</LoginType>
  <ShadowName>myname</ShadowName>
  <IsRemember>1</IsRemember>
  <LoginFailTimes>0</LoginFailTimes>
  <ImageCDN />
  <CSSCDN />
  <ScriptCDN />
  <OnlineUserExpire>8</OnlineUserExpire>
  <MaxOnlineCount>10000</MaxOnlineCount>
  <OnlineCountExpire>0</OnlineCountExpire>
  <UpdateOnlineTimeSpan>2</UpdateOnlineTimeSpan>
  <IsStatBrowser>1</IsStatBrowser>
  <IsStatOS>1</IsStatOS>
  <IsStatRegion>1</IsStatRegion>
  <IsClosed>0</IsClosed>
  <CloseReason />
  <BanAccessTime />
  <BanAccessIP />
  <AllowAccessIP />
  <AdminAllowAccessIP />
  <SecretKey>12345678</SecretKey>
  <CookieDomain />
  <RandomLibrary>123456789abcdefghjkmnpqrstuvwxy</RandomLibrary>
  <VerifyPages>/account/login,/account/register,/account/findpwd</VerifyPages>
  <IgnoreWords />
  <AllowEmailProvider />
  <BanEmailProvider />
  <IsGuestSC>1</IsGuestSC>
  <SCSubmitType>0</SCSubmitType>
  <GuestSCCount>30</GuestSCCount>
  <MemberSCCount>50</MemberSCCount>
  <SCExpire>8</SCExpire>
  <OSNFormat>{addtime}{storeid}{uid}{srid}</OSNFormat>
  <OnlinePayExpire>24</OnlinePayExpire>
  <ReceiveExpire>7</ReceiveExpire>
  <BroHisCount>8</BroHisCount>
  <MaxShipAddress>12</MaxShipAddress>
  <FavoriteProductCount>20</FavoriteProductCount>
  <FavoriteStoreCount>20</FavoriteStoreCount>
</MallConfigInfo>