<?xml version="1.0"?>
<UploadConfigInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <UploadImgType>.jpg,.jpeg,.png,.gif,.flash</UploadImgType>
  <UploadImgSize>900000</UploadImgSize>
  <WatermarkType>0</WatermarkType>
  <WatermarkQuality>30</WatermarkQuality>
  <WatermarkPosition>9</WatermarkPosition>
  <WatermarkImg>watermark.png</WatermarkImg>
  <WatermarkImgOpacity>5</WatermarkImgOpacity>
  <WatermarkText>BrnMall</WatermarkText>
  <WatermarkTextFont>微软雅黑</WatermarkTextFont>
  <WatermarkTextSize>12</WatermarkTextSize>
  <BrandThumbSize>50_50,70_70,100_100</BrandThumbSize>
  <ProductShowThumbSize>60_60,100_100,190_190,230_230,300_300,350_350,800_800</ProductShowThumbSize>
  <UserAvatarThumbSize>50_50,70_70,100_100</UserAvatarThumbSize>
  <UserRankAvatarThumbSize>50_50,70_70,100_100</UserRankAvatarThumbSize>
  <StoreRankAvatarThumbSize>50_50,70_70,100_100</StoreRankAvatarThumbSize>
  <StoreLogoThumbSize>50_50,70_70,100_100,150_150</StoreLogoThumbSize>
</UploadConfigInfo>