<?xml version="1.0" encoding="utf-8"?>
<PluginSetInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <WPMchId>6457</WPMchId>
  <WPAppId>64767</WPAppId>
  <WPAppSecret>85678</WPAppSecret>
  <WPAppKey>986789</WPAppKey>
  <OpenMchId>4646</OpenMchId>
  <OpenAppId>6757456</OpenAppId>
  <OpenAppSecret>856785</OpenAppSecret>
  <OpenAppKey>9789</OpenAppKey>
</PluginSetInfo>