<?xml version="1.0" encoding="utf-8"?>
<PluginInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <SystemName>wechatpay</SystemName>
  <FriendlyName>微信支付</FriendlyName>
  <ClassFullName>BrnMall.PayPlugin.WeChat.PluginService,BrnMall.PayPlugin.WeChat</ClassFullName>
  <Folder>BrnMall.PayPlugin.WeChat</Folder>
  <Description>微信支付</Description>
  <Type>1</Type>
  <Author>BrnMall</Author>
  <Version>1.2</Version>
  <SupVersion>1.9.000</SupVersion>
  <DisplayOrder>3</DisplayOrder>
  <IsDefault>0</IsDefault>
</PluginInfo>