<?xml version="1.0" encoding="utf-8"?>
<PluginInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <SystemName>qqoauth</SystemName>
  <FriendlyName>QQ登录</FriendlyName>
  <ClassFullName>BrnMall.OAuthPlugin.QQ.PluginService,BrnMall.OAuthPlugin.QQ</ClassFullName>
  <Folder>BrnMall.OAuthPlugin.QQ</Folder>
  <Description>QQ开放授权</Description>
  <Type>0</Type>
  <Author>BrnMall</Author>
  <Version>1.2</Version>
  <SupVersion>1.9.000</SupVersion>
  <DisplayOrder>3</DisplayOrder>
  <IsDefault>1</IsDefault>
</PluginInfo>