<?xml version="1.0" encoding="utf-8"?>
<PluginSetInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Partner>5</Partner>
  <Key>1</Key>
  <PrivateKey>MIICdgIBADANBgkqhkiG9w0BAQEFAASCAmAwggJcAgEAAoGBAMA+omvsmQygvRq22owSyV+6cTCmK2oKbIpYJHIYFVzUjBxiYKMM0p9ZapFKr1d4fMdTWTSOb/5/YHR9Uid/2ViWTwPApnuxBh14j7I7htR1hxlhg3l/tUf+0gwUNEg0WU65W9ggn8h84VHJcQX39QseYVhMO6CNJ5ATXNhHDfkpAgMBAAECgYBDChSN2jYNB0iqtjVEP5DlxxiNxITDN9td6xrahrd8ZcpuY4gbk+8nDoFxJUA8GpI42EH1Z+56K2UxejpZ9+WMugUKEq9Gzk6/sW5SwVc5wCOMbeT3cNoZtxlOVYDOmAlyOXiJl5E4N8xcHF3dTsgpk1h1jQYqq47i98XLUJGv+QJBAOj0I0Qm9016eXtrHoovQ7SqBdnzP7acj19AG5QblPs11QhioqEe5H3824idGt3HkdNTT7ZOh6mr32Ls6mYq54cCQQDTQ3yvBjuJ5493MdZj9kdvafDEJeh8nhpPSdSN/vryyt5FVy2Q8kZmqDLbTB1Sne7qNLavjvaAwfwz3hhq9+XPAkArJDN3xqOcBKeE1MS2IKSwS6CDyYmuHvZqVGwHFMiVcVW/lMy7fAYi0vYxKa81DWWTNmWXxJlZMcxP/MI4I4/3AkAnAIeNPGZTgEdxJudAjyADBpjnbWQtVXbf+m5eRJuJpUBBpuWHo+KxYw34hGXJcdTAsjij0o3ZmXZ5EOCLJvbrAkEArpMm9dH1vLgBpWvI1yB/Zw9gWkCo/F8YOXJ8yyH3vHTeDYbV36H3XTzwzoqqeHXGemrD3a3xYwfMqIAHfr5Jhw==</PrivateKey>
  <Seller>1</Seller>
</PluginSetInfo>